@import "tailwindcss";
@import "tw-animate-css";

    
@theme {
/* light theme */
    --color-text: #020903;
    --color-background: #f7fdf8;
    --color-primary: #1fd128;
    --color-secondary: #92e6d0;
    --color-accent: #69ddcf;
/* dark theme  */
    --color-dark-text: #f7fdf8;
    --color-dark-background: #030c04;
    --color-dark-primary: #1fd128;
    --color-dark-secondary: #196c56;
    --color-dark-accent: #229688;
/* font family */
    --font-heading: 'Liter',
    --font-body: 'Liter',
}



